/* -------------------------------------
Name: Aniket Handore
--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');





*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  /* background-color: #fff7f7; */
}

.header{
  border-bottom: 1px solid rgb(221, 221, 221);
}

.top-bar{
  height: 30px;
  background-color: gray;
  align-items: center;
  display: flex;
  font-size:12px;
  color: white;
  text-transform: capitalize;
}


ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}




.navbar{
  display:  flex;
  /* margin-left:  35px; */
  /* margin-right: 35px; */
}

.logo{
  margin-left:  35px;
  
  display: flex;
  align-items: center;
}
.logo .logo-img{
  margin: 5px;
}

/* .logo .logo-txt {
  max-width: 230px;
}

.logo .logo-txt p{
  font-size:8px;
  margin: 0;
  color:#F13A2C;
} */
/* 
.logo .logo-txt h3{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin:0;
} */

.navbar .contact{
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  /* display: flex; */
  align-items: center;
  margin:0;
}

.info{
  display: flex;
  position: relative;
  float: left;
  margin-left: 40px;
  padding-left: 50px;
  min-height: 50px;
}

.info .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 50px;
  font-size: 32px;
  color: #ffffff;
}
.info .icon .material-icons{
  font-size: 32px;
}

.info-box .title {
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  font-weight: 600;
}

.info-box .text {
  font-size: 15px;
  color: #6f747c;
  line-height: 20px;
}

.social{
	padding-left:0px;
	padding:5px 0px;
  margin-right: 35px;	
}

.social .social-links ul li::marker {
  text-decoration: none;
}

.social .social-links li{
	position:relative;
	float:left;
	margin-left:7px;
  
}

.social .social-links li:first-child{
	margin-left:0px;
}

.social .social-links li a{
	position:relative;
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	border-radius:20px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.social .social-links li a:hover{
	opacity:0.70;	
}

.social .social-links li .facebook{
	background:#1770c3;	
}

 .social .social-links li .twitter{
	background:#00b0ea;	
}

.social .social-links li .google-plus{
	background:#ff4a46;	
}

.social .social-links li .linkedin{
	background:#32608a;	
}





.menu{
  padding-top: 10px;
  display: flex;
  background: #32608a;
  flex-direction: row;
  
  
  padding: 0px;
  gap: 30px;
}

.nav-bar{
  justify-content: center;
  align-items: center;
}

.nav-item .nav-link{
  text-decoration: none;
  color: white;
}

.nav-item .nav-link:hover{
  color: white;
  background-color: #F13A2C;
}
.menu .menu-item:focus:hover{
  color: #F13A2C;
}

.btn-primary{
  background-color: #F13A2C;
  border-color: #F13A2C;
 }
 .btn-primary:hover{
   background-color: #e9635a
 }

 .btn-nav{
  align-items: right;
 }





.banner-section {
  padding: 80px 0;
  min-height: 550px;
  
}
.banner-text h2{
  font-size: 20px;
  color: var(--main-color);
}
.banner-text h1{
  font-size: 45px;
  font-weight: 700;
}

.banner-text h1 span{
  color: #F13A2C;
} */


.carousel-item img{
  height: 350px;
  width: 1000;
}


.carousel-inner{
  border: 2px solid #e9635a;
  border-radius: 5px;
}


@media only screen and (max-width: 600px) {
  .carousel-item img{
    height: 300px;
  }
}




.box{
  background-color:  #f7d3d3;
  border-radius: 5px;
  box-shadow: hsl(1,40%,93%);;
  padding: 30px;
}

/* ----------------------------------------------------
22. fun facts section 
------------------------------------------------------*/

.fun-facts-section{
  margin-top:30px;
}
.fun-facts-item{
  padding: 15px 0;
}
.fun-facts-item h2{
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.fun-facts-item p{
  margin: 0;
  text-transform: uppercase;
}
.fun-facts-item .style-1{
  color: black;
}
.fun-facts-item .style-2{
  color: green;
}
.fun-facts-item .style-3{
  color: red;
}
.fun-facts-item .style-4{
  color: orange;
}
.contactv{
  margin: 10px;
  text-align: center;
}
.contactUs{
  margin: 10px;
  text-align: center;

}
.email{
  text-align: center;
}
.Aaddress .p{
  max-resolution: 10px;
  text-align: center;
}

/* Features */

.aboutus-section {
  padding: 90px 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
.aboutus-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}
.aboutus-text {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

a:hover, a:active {
  color: #ffb901;
  text-decoration: none;
  outline: 0;
}
.Overview {
  border: 1px solid #fdb801;
  border-radius: 25px;
  color: #fdb801;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}

/* .feature .feature-box .feature-content h3 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
} */


/* .feature .feature-box .feature-content  {
  float: right;
  padding-right: 28px;
  width: 78%;
} */
/* .feature .feature-box .feature-content h3 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
} */

/* banner */

img {
  vertical-align: middle;
}
img {
  border: 0;
}

