ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}


.block{
    background-color: #F56529;
    padding: 5px 25px ;
    color: #fff;
    font-weight: 600;
    border-radius: 15px 0 15px 0;
}
.btn-theme{
    
    background-color: #F56529;
    padding: 5px 25px ;
    color: #fff;
    font-weight: 600;
    border-radius: 15px 0 15px 0;
  }
  .btn-theme:hover{
    background-color: #ff4d00;
    color: #fff;
  }
  .footer{
    background-color: #5F5F5F;
    color: #fff;
  }
  .footer-top{
    padding: 50px 0 20px;
    border-top: 1px solid #977d7270;
  }
  .footer-item{
    margin: 0 0 30px;
  }
  .footer-item h3{
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  /* .footer-item .footer-logo{
     color: black; 
    text-transform: uppercase;
  }
  .footer-item .footer-logo span{
    color: var(--main-color);
  } */
  .footer-item ul li:not(:last-child){
    margin-bottom: 8px;
  }
  .footer-item ul a{
    text-transform: capitalize;
    color: #fff;
    transition: color 0.3s ease;
    position: relative;
  }
  .footer-item ul a:hover{
    color: #F56529;
  }
  .footer-item ul a::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #F56529;
    transition: width 0.3s ease;
  }
  .footer-item ul a:hover::before{
    width:100%;
  }
  .footer-item ul a .social-icon{
    margin-right: 5px;
  }
  
  .footer-bottom {
    border-top: 1px solid #fff;
  }
  .footer-bottom p{
    font-size: 14px;
  }

  .topbar{
    background: #5F5F5F;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
  }
  
  .topbar .contact-detail{
    font-size:15px;
    font-style: bold;
  }
  
  .topbar .social{
    margin-right: 20px;
  }
  
  .topbar .social .social-icon{
    color: #fff;
    text-decoration: none;
    font-size:15px;
  }
  
  .social .facebook i:hover{
    color: #3b5998;
    /* border: 1px solid #fff; */
    background:white;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .social .instagram i:hover{
    color: rgb(150,47,191) ;
    /* border: 1px solid #fff; */
    background:white;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .social .twitter i:hover{
    color: rgb(	29 161 242) ;
    /* border: 1px solid #fff; */
    background:white;
    font-size: 18px;
    transition: 0.3s;
  }
  
  
  
  .bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .header{
    border-bottom: 1px solid #977d7270;
  }
  .header-logo a img{
    max-width: 350px;
    max-height: 7890px;
  }
  
  .header .menu-item{
    display: inline-block;
    margin-left: 10px;
    position: relative;
  }
  .header .menu-item > a{
    display: block;
  
    padding:  0 10px;
    font-weight: 600;
    color: #202020;
    text-transform: capitalize;
    transition: color 0.3s ease;
  }
  
  .header .menu-item a::after{
    content: "";
    position: absolute;
    background-color: #F56529;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  .header .menu-item a:hover:after{
    width: 100%;
  }
  
  .header .sub-menu-item a:hover,
  .header .menu-item:hover > a{
    color: #000;
  }
  .header .menu-item > a i{
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
    transition: transform 0.3s ease;
  }
  .header .sub-menu{
    position: absolute;
    top: 100%;
    background-color: rgba(248, 246, 246, 0.699);
    left: 0;
    width: 210px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px O hsla(0, 0%, 0%, 0.08);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    margin-top: 10px;
  }
  
  @media (min-width: 992px) {
    .header .menu-item:hover > .sub-menu{
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: #202020;
    text-transform: capitalize;
    font-weight: 600;
    transition: color 0.3s ease;
    border-bottom:1px solid rgb(252, 248, 248);
  }
  
  .header .sub-menu-item a::after{
    content: "";
    position: absolute;
    background-color: #F56529;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
  }
  
  
  .header-backdrop,
  .header-close-btn,
  .header-hamburger-button {
    display: none;
  }


  /* Responsive */

@media(max-width: 1199px) {
  
    .container{
      max-width: 100%;
      --bs-gutter-x: 30px;
    }
  
  }
  
  @media(max-width: 991px) {
    
    .header{
      padding: 12px 0;
    }
    .header-backdrop,
    .header-close-btn,
    .header-hamburger-button{
      display: block;
    }
    .header-hamburger-button{
      height: 34px;
      width: 40px;
      cursor: pointer;
      border: 0;
      background-color: transparent;
    }
    .header-hamburger-button span{
      display: block;
      height: 2px;
      width: 24px;
      background-color: black;
      position: relative;
      margin: auto;
    }
    .header-hamburger-button span::before,
    .header-hamburger-button span::after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
    }
    .header-hamburger-button span::before{
      top: -7px;
    }
    .header-hamburger-button span::after{
      top: 7px;
    }
  
    .header-close-btn{
      height: 40px;
      width: 40px;
      background-color: #F56529;
      position: absolute;
      left: 15px;
      top: 15px;
      color: var(--WHITE);
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }
  
  
    .header-menu {
      position: fixed;
      width: 300px;
      height: 100vh;
      top: 0;
      right: -300px;
      z-index: 1000;
      padding: 70px 0 50px;
      transition: all 0.5s ease;
      background-color: white;
      box-shadow: 0 0 10px O hsla(0, 0%, 0%, 0.08);
      overflow-y: auto;
      visibility: hidden;
    }
    .header-menu.open{
      right:0;
      visibility: visible;
    }
    .header .menu-item {
      display: block;
      margin: 0;
    }
    .header .menu-item > a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 15px;
      border-bottom: 1px solid var(--border-color-1);
    }
    .header .menu-item:first-child > a{
      border-top: 1px solid var(--border-color-1);
    }
    .header .menu-item.active > a i{
      transform: rotate(-180deg);
    }
    .header .sub-menu{
      position: relative;
      width: 100%;
      opacity: 1;
      visibility: visible;
      box-shadow: none;
      transform: translateY(0);
      top: auto;
      padding: 0;
      border-radius: 0;
      max-height: 0;
      overflow: hidden;
    }
    .header .sub-menu-item a{
      padding: 12px 45px;
      border-bottom: 1px solid var(--border-color-1);
    }
    .header-backdrop{
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all 0.5s ease;
      visibility: hidden;
      background-color: var(--white);
    }
    .header-backdrop.active{
      visibility: visible;
      opacity: 0.8;
    }
  
    .circular-img{
      max-width: 280px;
    }
    .circular-img img{
      max-width: 240px;
    }
    .circular-img-circle{
      height: 280px;
      width: 280px;
    }
    .banner-text h1{
      font-size: 35px;
    }
    .section-title .sub-title{
      font-size: 30px;
    }
    .course-sidebar{
      margin-top: 30px;
    }
    .course-instructor .img-box img{
      width: 100px;
    }
    .course-instructor .details-wrap{
      margin-bottom: 15px;
    }
  }
  
  @media(max-width: 767px) {
    .container{
      --bs-gutter-x: 15px;
    }
    .box{
      padding: 20px 15px;
    }
    .banner-text h1{
      font-size: 24px;
    }
    .bai-section{
      text-align: center;
    }
    .section-title .title,
    h3,
    .banner-text h2{
      font-size: 18px;
    }
    .form-title,
    .section-title .sub-title{
      font-size: 22px;
    }
    .course-header h2{
      font-size: 24px;
    }
    .course-curriculum .accordion-button span{
      position: relative;
      right: auto;
      font-size: 12px;
      width: 100%;
      margin-top: 8px;
    }
    .course-curriculum .accordion-button{
      padding-right: 15px;
    }
    .course-curriculum ul li span{
      font-size: 12px;
      position: relative;
      display: block;
      margin-top: 5px;
    }
    .course-curriculum ul li{
      padding: 0 0 0 20px;
    }
    .rating-box{
      margin-bottom: 15px;
    }
    .rating-summary{
      margin-bottom: 15px;
    }
  }
  
  @media(max-width: 575px) {
    .circular-img{
      max-width: 230px;
    }
    .circular-img img{
      max-width: 200px;
    }
    .circular-img-circle{
      height: 230px;
      width: 230px;
    }
    .footer-item{
      text-align: center;
    }
    .header-logo a{
      font-size: 22px;
    }
    .modal-dialog{
      margin: 8px 15px;
    }
  }
 

  .head {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
  }
  .container {
    text-align: center;
    
    
  }
  .ourteam{
    margin-left: 10px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
  }

  